.input {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e8b7e1;
  color: #ffffff;
  transition: all 800ms;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  max-width: 270px;
}

.label {
  font-size: 18px;
  font-weight: 700;
}

.button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: #e8b7e1;
  border: none;
  width: 100px;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
